<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>NFC Musik</title>

  <link rel=stylesheet type=text/css
        href="{{ url_for('static', filename='bootstrap-3.3.7-dist/css/bootstrap.min.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='custom.css') }}">

</head>
<body>

<div id="modal-dialog" class="modal" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Ooops...</h4>
      </div>
      <div class="modal-body">
        <p id="modal-text"></p>
      </div>
    </div>

  </div>
</div>

<form id="form" method="post" enctype="multipart/form-data" style="display: none;">
  <input type="file" name="file" id="file" accept="audio/*" onchange="submitUpload()">
</form>

<div class="container">
  <div class="header clearfix">
    <button class="btn btn-primary pull-right" onclick="selectUploadFile()">
      <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Upload
    </button>
    <h3 class="text-muted">NFC Musik</h3>
  </div>

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-{{ category }}" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  {% block body %}{% endblock %}

  <div class="alert alert-info" role="alert" id="wlanStatusAlert" style="display: none;">
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
    WiFi connection is shut off in <span id="wlanTimeout">?</span> seconds, refresh this page to reset shutdown timer.
  </div>

  <div class="panel panel-default panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">NFC Tag Status</h3>
    </div>
    <div class="panel-body" id="nfcStatusBox">
      <div class="loadersmall"></div>
    </div>
  </div>

  <div class="row container">
    <h3>Available files</h3>
    <div id="musicFiles">
      <div class="loadersmall"></div>
    </div>
  </div>

  <footer class="footer">
    <p><a href="https://github.com/cipold/nfcmusik">https://github.com/cipold/nfcmusik</a></p>
  </footer>
</div>

<script src="{{ url_for('static', filename='jquery-3.1.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap-3.3.7-dist/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='controller.js') }}"></script>

<script>
    // initialization
    $(document).ready(function () {
        initialize();
    });
</script>
</body>
</html>
